:root {
    --main-color: #12a1a7;
    --main-bg-color: #cdfaf5;
}

body {
    background-color: #e4fdff;
}

@media (max-width: 415px) {
    body {
        font-family: 'Quicksand', sans-serif;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 16fr 2fr;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }

    header {
        margin: 5px 5px 0px 5px;
        display: flex;
        justify-content: space-between;
    }

    h3 {
        color: var(--main-color);
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .bx-left-arrow-alt {
        color: var(--main-color);
        background-color: white;
        border: none;
        box-shadow: 0px 4px 7px rgb(0, 0, 0, 0.3);
    }

    .bx-home-heart {
        color: var(--main-color);
        background-color: white;
        border: none;
        box-shadow: 0px 4px 7px rgb(0, 0, 0, 0.3);
    }

    .btn {
        color: var(--main-color);
        width: 185px;
        height: 42px;
        border-radius: 14px;
        font-weight: 500;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
        justify-content: space-around;
    }

    .main-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gear-icon {
        color: var(--main-color);
    }
}
