* {
    margin: 0;
    padding: 0;
    max-width: 451px;
    max-height: 896px;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --cor-background: #e4fcfe;
    --cor-button: #fefffe;
    --cor-font: #12a1a7;
}

body {
    background-color: var(--cor-background);
    padding: 35px 0px 0px 0px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor-font);
}

.logo-quickwait {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 150px;
    padding: 10px;
    margin-top: 62px;
}

.button-section {
    display: flex;
    justify-content: center;
}

.type-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 55px 35px 55px;
}

.type-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.type-button img {
    align-items: center;
    padding: 3px;
    margin-right: 18px;
}

.type-button button {
    width: 270px;
    height: 41px;
    margin-top: 18px;
    border-radius: 10px;
    border-color: var(--cor-button);
    background-color: var(--cor-button);
    box-shadow: 20px;
    color: var(--cor-font);
}
.separar-section {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.btn {
    color: var(--cor-font);
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    justify-content: space-around;
}

#google-btn {
    display: flex;
    justify-content: space-evenly;
}

#facebook-btn {
    display: flex;
    justify-content: space-evenly;
}
