body{
    background-color: #E4FCFE;
}
header{
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 40vh;
}
.cruz{
    width: 200px;
}
fieldset {
   border: none;
    color:rgb(52, 165, 159);
    display: grid;
    align-items: center;
    justify-items: center;
    height: 30vh;
    font-family: sans-serif;
    
}

.senha{
    font-size: 15px;
    text-align: center;
    color: gray;
    font-family: sans-serif;
}
span{
    color: rgb(52, 165, 159);
}
section{
    display: grid;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
    
}

label {
 display: block;
 margin-bottom: 8px;
}

.input input{
    border: 2px solid white;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px #888;
    
}
.voltar{

   font-size: 40px;
   color: rgb(52, 165, 159);
   text-align: center;
}
button{
    padding: 10px 10px;
    color: rgb(52, 165, 159);
    background-color: white;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 8px;
    width: auto;
    border: 1px solid gray;
    border-width: 1px 1px 3px;
    margin-bottom: 25px;
    box-shadow: 0 8px 6px -6px #888;
}
.bu{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 280px) {

 form {
   max-width: 480px;
 }

}